body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header, .footer, .topInfo {
    background-color: #1F2937;
}
.header, .footer {
    height: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #f9faf8;
    width: 100px;
    height: auto;
}

ul {
    display: flex;
    gap: 15px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

.topInfo {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #e5e7eb;
    padding: 80px 160px;
}

.introTitle {
    text-align: left;
}

.frontPageImage {
    width: 1000px;
    height: 200px;
    background-color: gray;
}

button {
    background-color: #3882F6;
    color: #e5e7eb;
    padding: 5px 25px;
    font-weight: bold;
    border-radius: 5px;
}

button.top {
    margin-top: 10px;
    border: 2px solid #3882F6;
}

button.bot {
    border: 2px solid #e5e7eb;
}

.mainInfo {
    padding: 15px 30px;
    background-color: white;
}

.title, .introTitle {
    font-weight: bolder;
    font-size: 36px;
}

.title {
    padding-bottom: 15px;
    text-align: center;
    padding: 30px;
}

.examples {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 80px;
}

.animalPhoto {
    width: 180px;
    height: 180px;
    border: 2px solid #3882F6;
    border-radius: 5px;
}

.animals {
    width: 180px;
}

.animalDescription {
    text-align: center;
}

.epicPhrase {
    background-color: #e5e7eb;
    padding: 80px 220px;   
}

.phrase {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.phraseAutor {
    text-align: right;
    font-weight: bold;
    padding-right: 30px;
}

.convincingSignUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    margin: 50px 140px;
    padding: 30px 60px;
    color: #e5e7eb;
}

.infoTitle {
    font-weight: bold;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
}